# Rust
/target/
**/*.rs.bk
Cargo.lock

# Modelos de voz (não versionar)
voices/**
!voices/.gitkeep

# Modelos ONNX avulsos
*.onnx
*.onnx.json

# Cache de áudio
*.wav

# Python
__pycache__/
*.pyc

# Editores
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
